@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: PT Sans, Arial;
    color: #3a3a3a;
}

/*navigation links*/
.menu {
    font-size: 110%;
    display: block;
    padding-bottom: 20px;
}

.menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
    float: right;

}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    font-family: PT Sans, Arial;
    letter-spacing: 3px;
    margin: 30px 20px 0 20px;
}



.feedback {
    text-align: center;
    font-size: 2.0rem;
    font-family: PT Sans, Arial;
    letter-spacing: 3px;
    margin: 30px 20px 0 20px;
}

.smaller-text {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.pack {
    width: 70%;
    height: 100%;
    background-color: rgb(248, 244, 238);
    display: table;
    margin: 0 15%;
    box-shadow: 15px 0 15px 0 rgba(0, 0, 0, 0.1),
        15px 0 15px 0px rgba(0, 0, 0, 0.1);
}

.main_content {
    display: table-cell;
    text-align: center;
    border: 0;
}

.q__up {
    font-size: 20pt;
    margin: 10px;
    margin-bottom: 50px;
}

.question_content {
    padding: 5px;
}

.q__middle {
    margin: 10px;
}

.q__bottom {
    bottom: 0;
    display: block;
    width: 100%;
}

.bottom__content {
    padding: 5px;
}

.button {
    border: 0;
    border-radius: 15px;
    background: #6974bd;
    color: #fff;
    padding: 10px 25px;
    width: 70%;
    font-size: 15pt;
    display: block;
    margin: 2px auto;
    cursor: pointer;
}

.button_wrong {
    background: #f37e09;
}

.button_correct {
    background: #43a764;
}

/*footer*/
.contact {
    margin: auto;

}

.contact {
    margin: 2% 2% 5% 2%;
}

.contact li {
    height: 150px;
    display: inline;

    margin: 5% 2% 5% 1%;

}

/* feedback*/

.star {
    font-size: 2.6em;
    margin: 8px;
    cursor: pointer;
    color: #292f3d;
    transition: color 0.5s;
}

.star.hovered,
.star.selected {
    color: #ffcf87;
}

.star i {
    font-size: 2.6em;
    margin: 8px;
    cursor: pointer;
    color: #292f3d;
    transition: color 0.5s;
}

.stars i:nth-child(-n+1) {
    color: #ffcf87;
}

.stars i:nth-child(-n+2) {
    color: #ffcf87;
}

.stars i:nth-child(-n+3) {
    color: #ffcf87;
}

.stars i:nth-child(-n+4) {
    color: #ffcf87;
}

.stars i:nth-child(-n+5) {
    color: #ffcf87;
}

textarea {
    width: 80%;
    background-color: rgb(248, 244, 238);
    border: none;
    border-radius: 8px;
    padding: 16px;
    resize: none;
    font-size: 1.4em;
    outline: none;
}

.credit a {
    text-decoration: none;
}

#email-error {
    color: #f37e09;
    margin-top: 10px;
}
.email-section {
    text-align: left;
    margin-left: 15%;
}
.email-input-group label,
.email-input-group input {
    display: inline-block;
    vertical-align: middle;
}

.email-input-group input {
    margin-left: 10px;
}
/* rules text*/

#rules_text {}