@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 15px;
    font-family: PT Sans, Arial;
    font-weight: 300;
    color: #3a3a3a;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.pack {
    width: 100%;
    height: 100%;
    background-color: rgb(248, 244, 238);
    display: table;
}

.main_content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.q__up {
    font-size: 20pt;
    margin: 10px;
    margin-bottom: 50px;
}

.question_content {
    padding: 5px;
}

.q__middle {
    margin: 10px;
}

.q__bottom {
    bottom: 0;
    display: block;
    width: 100%;
}

.bottom__content {
    padding: 5px;
}

.button {
    border: 0;
    border-radius: 15px;
    background: #8591dd;
    color: #fff;
    padding: 10px 25px;
    width: 70%;
    font-size: 15pt;
    display: block;
    margin: 2px auto;
    cursor: pointer;
}

.button_wrong {
    background: #f37e09;
}

.button_correct {
    background: #43a764;
}